<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SD Academy | Contacts</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SD Academy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Main</a></li>
            <li class="active"><a href="contact.html">Contacts<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../static/images/juant.png" alt="Juan T.">
          <div class="caption">
            <h3>Founder</h3>
            <div class="contact">
              <p>Name: <span class="value">Juan T.</span></p>
              <p>Email: <span class="value"><a href="mailto:juant@sdacademy.com">juant@sdacademy.com</a></span></p>
              <p>Phone: <span class="value">+38-050-5000-050</span></p>
              <p>Skype: <span class="value"><a href="skype:juant">juant</a></span></p>
            </div>
            <p class="about">The biggest contributor to the course and great fan of Python</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../static/images/sergiop.png" alt="Sergio P.">
          <div class="caption">
            <h3>Director</h3>
            <div class="contact">
              <p>Name: <span class="value">Sergio P.</span></p>
              <p>Email: <span class="value"><a href="mailto:sergiop@sdacademy.com">sergiop@sdacademy.com</a></span></p>
              <p>Phone: <span class="value">+38-067-6700-670</span></p>
              <p>Skype: <span class="value"><a href="skype:sergiop">sergiop</a></span></p>
            </div>            
            <p class="about">The hard-boiled man with serious attention to the details</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../static/images/andresb.png" alt="Andres B.">
          <div class="caption">
            <h3>Manager</h3>
            <div class="contact">
              <p>Name: <span class="value">Andres B.</span></p>
              <p>Email: <span class="value"><a href="mailto:andresb@sdacademy.com">andresb@sdacademy.com</a></span></p>
              <p>Phone: <span class="value">+38-063-6300-630</span></p>
              <p>Skype: <span class="value"><a href="skype:andresb">andresb</a></span></p>
            </div>              
            <p class="about">Besides other merits knows some nice places for going-out. </p>
          </div>
        </div>
      </div>      
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
